---
import { ViewTransitions } from 'astro:transitions';
import "../index.css";
import { css } from "../../styled-system/css";
import { grid } from "../../styled-system/patterns";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class={css({ height: "full" })}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
	<ViewTransitions />
  </head>
  <body class={css({ height: "full" })}>
    <div class={grid({ minH: "full", gridTemplateRows: 'auto 1fr', gap: 0 })}>
      <nav
        class={css({
          borderBottomWidth: "1px",
          borderColor: "gray.200",
          bgColor: "white",
        })}
      >
        <div
          class={css({
            ml: "auto",
            mr: "auto",
            maxW: "7xl",
            pl: "4",
            pr: "4",
            sm: { pl: "6", pr: "6" },
            lg: { pl: "8", pr: "8" },
          })}
        >
          <div
            class={css({
              display: "flex",
              h: "16",
              justifyContent: "space-between",
            })}
          >
            <div class={css({ display: "flex" })}>
              <div
                class={css({
                  display: "flex",
                  flexShrink: "0",
                  alignItems: "center",
                })}
              >
                <a
                  href="/"
                  class={css({ fontWeight: "medium", fontSize: "lg" })}
                  >XState by Example</a
                >
              </div>
            </div>
          </div>
        </div>
      </nav>

      <div class={css({ pt: "10", pb: "10", bg: "gray.50" })}>
        <slot />
      </div>
    </div>
  </body>
</html>
